.bg{
height:100%;	
margin-right:50px;
margin-left:50px;
background:url("../images/bg2.jpg");
}
.showNews{
height:100%;
margin-left:160px;
margin-right:160px;
/* margin-top:50px;  */
background:#fffffb;
opacity:0.8;
}
.Title{
display:block;
font-size:22px;
font-weight:540; 
color:#464547;
text-align:center;
padding-top:50px;
font-family:微软雅黑;
}
.Author{
display:block;
font-size:14px;
color:#464547;
text-align:center;
padding-top:15px;
}
.Content{
display:block;
font-size:17px;	
padding-top:20px;
line-height:30px;
text-indent:2em
}




















